# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Simulink cache
*.slxc

# Builds
slprj/

# Local stuff
local_stuff/

# Autosave
*.slx.autosave
*.asv
*.bak

# Previous versions
*.slx.r?????

# Mac users says thanks
*.DS_Store
